# for exploration
pandas
ipython
# need to update pip itself for this to work
# pip install --upgrade pip
jupyter

# for import scripts
sqlalchemy
chardet

# general
psycopg2
altair
vega

xlrd
requests
roman

